npm-debug.log
node_modules
a.out
parser2.js
scanner2.js
photest.nix
photest.txt
tt.nix
iotest.cpp
iotest.obj
hello.cpp
hello.exe
hello.nix
wordgame.cpp
wordgame.exe

test/data/break.cpp
test/data/break.exe
func.cpp
func.nix
func.exe
text.cpp
test.cpp
test.cpp
test.cpp
constantfoldingtest.nix
